<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='Assets/favicon.ico')}}"
      type="image/x-icon"
    />
    {% if title %}
    <title>{{title}}</title>
    {% else%}
    <title>News Hub -- News all over the World</title>
    {% endif %} 
    {% block styles %}
    <!-- bootstrap css -->
    {{ bootstrap.load_css() }} 
    {% endblock %} 
    {% endblock %}
  </head>
  <body>
    <!-- Your page content -->

    <!-- Navbar block -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %} {% block
    content %} {% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
